* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	font: {
		size: $base-font-size;
		family: $primary-font;
	}
	color: $c-text;
}

h1, h2, h3, h4, h5, h6 { font-family: $secondary-font; }

a { 
	color: $c-text; 
	transition: color .5s, background-color .5s;
}

.container {
	&__inner { 
		.row { padding: 0 1rem; } 
	}

	@include respond-to($vp-large) {
		@include width-constrain;
	}
}

.width-constrain {
	@include respond-to($vp-large) {
		> [class*="inner"] { @include width-constrain; }
	}
}