.post-comments {
    .item {
        flex: 1;
    }

    .children { 
        @include stripped-list; 
        margin-left: 1rem;
    }

    .comment {
        &-title {
            font: {
                family: $secondary-font;
            }
        }

        &-body {
            @include flex-all;
            position: relative;
            margin: 1.5rem 0;
            padding: 1rem;
            border: 1px solid $c-grey-mid;
            background-color: $c-white;
            line-height: 1.5;
        }

        &-image {
            flex: none;
            width: 50px;
            height: 50px;
            margin-right: 1rem;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include respond-to($vp-large) {
                width: 130px;
                height: 130px;
            }
        }

        &-author {
            margin-bottom: 1rem;

            > * { display: block; }

            a { 
                font: {
                    family: $secondary-font;
                    weight: 400;
                }
                color: $c-black;

                @include hover-underline;
            }
        }

        &-replay {
            position: absolute;
            z-index: 2;
            top: 10px;
            right: 10px;

            &:before {
                content: "\f3e5";
                font: {
                    family: $icons-font;
                    weight: 900;
                }
                color: $c-grey-dark;
                cursor: pointer;
                transition: color .5s;
            }

            @include hover {
                &:before { color: $primary-color; }
            }
        }
    }
}