<section class="section latest-posts width-constrain">
    <div class="section__inner">
        <div class="summary">
            <div class="summary-header">
                <h2 class="title title-post">Latest Posts</h2> 
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur asperiores, ad voluptatibus, alias laudantium, tempora dignissimos distinctio</p>     
            </div>  

            <div class="summary-content post">
                <section class="items-list">
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&1" alt="News 1">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&2" alt="News 2">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&3" alt="News 3">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&4" alt="News 4">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&5" alt="News 5">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                    <article class="item">
                        <img src="https://source.unsplash.com/370x370/?news&6" alt="News 6">
                        <div class="item-summary">
                            <h3 class="title title-block"><a href="">Full width blog post</a></h3>
                            <time>October 8, 2020</time>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, amet, enim ab magnam ex nisi doloremque iure tenetur voluptatum!</p>
                            <a href="" class="action-link">Read more</a>
                        </div>
                    </article>
                </section>
            </div>      
        </div>
    </div>
</section>