<section class="section portfolio width-constrain">
    <div class="section__inner">
        <div class="summary">
            <div class="summary-header">
                <h2 class="hidden">Portfolio</h2>      
            </div>  

            <div class="summary-content tabs">
                <nav class="portfolio-categories tabs-categories">
                    <ul class="items-list">
                        <li class="item"><a href="">All</a></li>
                        <li class="item"><a href="">Coding</a></li>
                        <li class="item"><a href="">Design</a></li>
                        <li class="item"><a href="">Development</a></li>
                        <li class="item"><a href="">Illustration</a></li>
                        <li class="item"><a href="">Photography</a></li>
                    </ul>
                </nav>

                <div class="portfolio-content tabs-content">
                    <ul class="items-list">
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&1" alt="Product 1">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&2" alt="Product 2">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&3" alt="Product 3">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&4" alt="Product 4">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&5" alt="Product 5">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                        <li class="item">
                            <img src="https://source.unsplash.com/370x370/?products&6" alt="Product 6">
                            <div class="item-summary">
                                <h3 class="title title-block"><a href="">Portfolio item title</a></h3>
                                <p>Branding, Develpment</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>      
        </div>
    </div>
</section>