<header id="header_main" class="site-header" aria-label="Main Site Header" role="banner">
    <div class="container">
        <div class="container__inner">
            <div class="row">
                <div class="row__inner">

                    <h1 class="site-title">
                        <a href="">Giving</a>
                    </h1>

                    {{> menu }} 
                    
                </div>
            </div>
        </div>
    </div>
</header>