<nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
    <button id="sitenav_main_mobile_toggle" class="nav-mobile-toggle accessible-megamenu-toggle animated"><span class="nav-mobile-toggle-inner">Main Menu Toggle</span></button>

    <div class="menu-principal-container">
        <ul class="primary-menu">
            <li class="menu-item menu-item-has-children"><a href="">Home</a></li>
            <li class="menu-item menu-item-has-children"><a href="">Portfolio</a></li>
            <li class="menu-item menu-item-has-children"><a href="">Pages</a></li>
            <li class="menu-item menu-item-has-children"><a href="">Shortcodes</a></li>
            <li class="menu-item menu-item-has-children"><a href="">Blog</a></li>
            <li class="menu-item"><a href="">Contact</a></li>
        </ul>
    </div>
</nav>  