<section class="section widget-search">
    <div class="section__inner">
        <div class="summary">
            <div class="summary-header">
                <h2 class="title title-widget"><span class="title-inner">Search</span></h2>      
            </div>  

            <div class="summary-content">
                <form class="search-form" role="search">
                    <div class="form-block">
                        <div class="form-item">
                            <input type="search" class="search-field form-input" placeholder="Search">
                        </div>
                        <div class="form-item">
                            <button type="submit" class="search-submit"><span class="hidden">Search</span></button>
                        </div>
                    </div>
                </form>
            </div>      
        </div>
    </div>
</section>