<aside class="widgets">
    <div class="row">
        <div class="row__inner">
            <div class="column">

                {{> widget-search }}
                {{> widget-tags }}
                {{> widget-categories }}
                {{> widget-recent-posts }}            

            </div>        
        </div>
    </div>
</aside>