<section class="section widget-categories">
    <div class="section__inner">
        <div class="summary">
            <div class="summary-header">
                <h2 class="title title-widget"><span class="title-inner">Blog Categories</span></h2>      
            </div>  

            <div class="summary-content">
                <ul class="items-list">
                    <li class="item"><a href="">Lighting <span>(5)</span></a></li>
                    <li class="item"><a href="">Sofa <span>(7)</span></a></li>
                    <li class="item"><a href="">PHP <span>(2)</span></a></li>
                    <li class="item"><a href="">WordPress <span>(15)</span></a></li>
                    <li class="item"><a href="">Tips <span>(22)</span></a></li>
                    <li class="item"><a href="">Accesories <span>(11)</span></a></li>
                </ul>
            </div>      
        </div>
    </div>
</section>