<div class="single-post">
    <div class="row">
        <div class="row__inner">
            <div class="column">

                {{> single-post-details }}
                {{> single-post-comments }}

            </div>        
        </div>
    </div>
</div>