<div class="comment-form-wrapper">
    <h3 class="comment-reply-title title title-section">Leave your thought</h3>
    <form action="" method="post" id="commentform" class="comment-form">
        <div class="form-block">
            <div class="form-item">
                <label for="comment_name">
                    <span class="form-text">Name</span>
                    <input type="text" id="comment_name" class="form-input">
                </label>
                <label for="comment_email">
                    <span class="form-text">Email</span>
                    <input type="email" id="comment_email" class="form-input">
                </label>
            </div>
        </div>
        <div class="form-block">
            <div class="form-item">
                <label for="comment_message">
                    <span class="form-text">Textarea</span>
                    <textarea name="comment_message" id="comment_message" class="form-textarea"></textarea>
                </label>
            </div>
        </div>
        <div class="form-block">
            <div class="form-item">
                <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
            </div>
        </div>
    </form>
</div>