<article class="blog-post">
    <div class="section__inner">
        <div class="post">
            <div class="post-thumbnail"><img src="https://source.unsplash.com/870x500/?office" alt="Banner"></div>
            
            <div class="post-title">
                <h2 class="title title-post"><span class="title-inner">Single Post</span></h2> 
            </div>  

            <div class="post-meta">
                <ul class="items-list">
                    <li class="item">April 26, 2015</li>
                    <li class="item">12 Likes</li>
                    <li class="item">Branding, UX Design</li>
                </ul>
            </div>

            <div class="post-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis reiciendis iste autem. Debitis aut, veniam necessitatibus ipsum illo, pariatur temporibus cupiditate quasi tempore maiores, placeat maxime aliquid. Atque, culpa molestiae!</p>

                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                    <li>Aliquam tincidunt mauris eu risus.</li>
                    <li>Vestibulum auctor dapibus neque.</li>
                </ul>

                <h3>Lorem ipsum dolor, sit amet</h3>

                <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, voluptatem rem vel assumenda libero quidem aspernatur error nam iste numquam consequuntur voluptas reprehenderit hic tempora, ex placeat, enim ut velit!</p></blockquote>

                <p><pre>
                    <code>
.some-style {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    position: relative;
}
                    </code>
                </pre></p>

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis reiciendis iste autem. Debitis aut, veniam necessitatibus ipsum illo, pariatur temporibus cupiditate quasi tempore maiores, placeat maxime aliquid. Atque, culpa molestiae!</p>
            </div>      
        </div>
    </div>
</article>